.assignment-modal {
  font-family: 'roboto', sans-serif;
  padding: 2.5rem;
  /* background-color: white;
  height: 50px;
  width: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px; /* equivalent to space-y-15 */
}

.modal-title {
  font-size: 20px; /* Tailwind's text-2xl */
  font-weight: 400;
}

.modal-description {
  font-weight: 400;
  font-size: 16px;
  width: 343px;
  text-align: center;
  line-height: 1.5;
}

.modal-button {
  background-color: #2563EB;
  height: 41px;
  width: 205px; /* Tailwind's blue-700 */
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #1e40af; /* darker blue on hover */
}
