.loading-state{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}

.customer-dashboard-outlay-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 100%;
}

.customer-dashboard-container {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.customer-dashboard-outlay-container .customer-dashboard-footer-container {
	display: flex;
	gap: 10px;
	align-items: center;
	height: 135px;
	width: 100%;
}



.customer-dashboard-outlay-container .customer-dashboard-main-table-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: calc(100% - 150px);
	gap: 20px;
}

.customer-dashboard-outlay-container
	.customer-dashboard-main-top-filter-container {
	display: flex;
	justify-content: space-between;
	padding: 18px;
}

.customer-dashboard-outlay-container .customer-dashboard-filter-container {
	display: flex;
	align-items: center;
	gap: 20px;
}
.customer-dashboard-outlay-container .customer-dashboard-footer-container {
	display: flex;
	gap: 50px;
  padding-left: 50px;
}

.customer-dashboard-outlay-container .customer-dashboard-footer-container div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 600;
}
